* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url("../images/arrows.jpg");
	background-size: cover;
	font-family: "Astoria light", sans-serif;
}

h1 {
	background-color: #00EA00;
	text-align: center;
	text-transform: uppercase;
	color: black;
	padding: 10px;
	margin: auto;
}

nav a { 
	background-color: #636266;
	color: white;
	text-decoration: none;
	display: block;
	border: 1px solid black;
	float: left;
	padding: 15px;
}

.clearfix:after {
	visibility: hidden;
    display:block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

a:hover {
	background-color: #FF7100;
}

#right  {
	font-size: 20px;
	line-height: 25px;
	background-color: #E8D5DE;
	color: black;
	padding-top: 2px;
	padding-left: 20px;
	float: right;
	width: 30%;
	border: 1px solid gray;
	margin-top: 160px;
	margin-right: 220px;
}

#right:hover {
	background-color: white;
}

#left  {
	font-size: 20px;
	line-height: 25px;
	background-color: #E8D5DE;
	color: black;
	padding-top: 2px;
	padding-left: 20px;
	float: left;
	width: 30%;
	border: 1px solid gray;
	margin-top: 80px;
	margin-left: 220px;
}

#left:hover {
	background-color: white;
}

#address  {
	font-size: 20px;
	line-height: 25px;
	background-color: #E8D5DE;
	padding-top: 2px;
	padding-left: 20px;
	text-decoration: none;
	color: black;
	float: left;
	width: 30%;
	border: 1px solid gray;
	margin-top: 80px;
	margin-left: 220px;
}

#address:hover  {
	background-color: #636266;
	color: white;
	text-decoration: none;
}

p {
	margin: 15px 0;
}



