body {
	background: url("../images/dumbell.jpg");
	background-size: cover;
	text-align: center;
	font-family: "open sans", sans-serif;
}

h1 {
	color: #aaaaaa;
}

a {
	background-color: #aaaaaa;
	color: #000000;
	text-decoration: none;
	padding: 6px;
}

a:hover {
	background-color: #FF530D;
}