body  
    {background-color: #98dfd3;
     text-align: center; 
	 color: #53663d;
	 font-family: "open sans", sans-serif;
	 line-height: 1.5em;
}

h1   {font-size: 2.5em;
	  text-transform: uppercase;

}

h2   {font-style: italic;
}

p    {font-family: "astoria light", sans-serif;
	  font-size: 1em;
}


