html  {background: url(images/flowers.jpg)
	no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover; 
 }

body {text-align: center;
	  color: white;
	  font-family: "open sans", sans-serif;
	  line-height: 1.5em;
}

h1   {font-size: 2.5em;
	  text-transform: uppercase;

}

h2   {font-style: italic;
}

p    {font-family: "astoria light", sans-serif;
	  font-size: 1em;
}

ul   {text-align: center;
}

