body {text-align: center;
	  background-color: #c0dec5; 
	  color: #384540;
	  font-family: "open sans", sans-serif;
	  line-height: 1.5em;
}

h1   {font-size: 2.5em;
	  text-transform: uppercase;

}

h2   {font-style: italic;
}

p    {font-family: "astoria light", sans-serif;
	  font-size: 1em;
}

ul   {text-align: center;
}

