@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700italic,700,900,900italic,100,300,400italic,500);
@import url(https://fonts.googleapis.com/css?family=Viga);

body {
	background-color: #F4FEFB;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

header {
	font-family: "Fjalla One", sans-serif;
	font-size: 2em;
    text-align: center;
}

nav a {
	float: left;
	text-transform: none;
	margin-bottom: 4em;
	margin-left: 2em;
}




