@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import 'https://fonts.googleapis.com/css?family=Raleway|Roboto';
@import url(https://fonts.googleapis.com/css?family=Viga);

* {
	padding: 0;
	margin: 0;
}

a {
	font-size: 16px;
	text-decoration: none;
	float: left;
	color: black;
	margin-top: 1em;
	padding-left: 1em;
}

a:hover {
	color: white;
	text-decoration: underline;
}

header {
	font-family: 'Fjalla One', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	background-color: #FF8658;
	background-size: cover;
	text-align: center;
	padding: 1em;
}

article{
	padding:50px 20%;
}

article h1 {
	font-family: 'Roboto Black', sans-serif;
	font-size: 2em;
}

img {
	width: 100%;
	margin: auto;
}

figure{
	position: relative;
}

div:hover .overlay {
	position: absolute;
	width:100%;
	height:100%;
	background-color:#FB1EFF;
	opacity:.5;
	top:0;
	left:0;
}

.date {
	font-family: 'Astoria Light', sans-serif;
	padding-top: 4em;
	padding-bottom: 1.5em;
}

.copy, 
.copy a {
	font-family: 'Franklin Gothic', serif;
	font-size: 1.2em;
	padding-bottom: 3em;
	text-decoration: none;
}

#page3 {
	background-color: #FBFEFF;
}

#page3 div:hover {
	color: #FB1EFF;
}

#page3 .copy:hover {
	color: #FB1EFF;
}

#page2 {
	background-color: #FDC4FF;
}

#page2 div:hover {
	color: #28CC14;
}

#page2 .copy:hover {
	color: #28CC14;
}

#page1 {
	background-color: #96FFA3;
}

#page1 div:hover {
	color: white;
}

#page1 .copy:hover {
	color: white;
}



