body  
    {background: url("../images/cindycastle.jpg");
     background-size: cover;
     text-align: center;     
     font-family: "open sans", sans-serif;
}

header {background-color: #F0C7FF;
	    padding-top: .5em;
}

h1 {font-size: 1.8em;
}

h4   {background-color: #F0C7FF;
	  font-family: "Cochin", serif;
      font-size: .75em;
      margin: 0 40em 0 40em;
}

p    {background-color: #F0C7FF;
	  font-family: "Adobe Caslon Pro", serif;
	  font-size: 1em;
}

a    {color: #097133;
	  text-decoration: none;
}

.img-circle {border-radius: 20%;
	         margin-top: 2.5em;
	         margin-bottom: 0;
}

nav {text-align: left;
	 margin-left: 2em;
	 padding-bottom: 1.2em;
	 word-spacing: .5em;
}

main {background: #F0C7FF;
	      margin-top: 6em;
	      padding: .1em;
}






