body {text-align: center;
	 
	background-color: #b8c0ff;
	color: white;
	font-family: "Lucida Grande", sans-serif;
}
#blurb {font-style: italic;}

h2 {font-variant: uppercase;}

ul {text-align: center;
    list-style-type: none;
}

#slogan {font-style: italic;}
