body {text-align: center;
	  background-color: #b8c0ff;
	  color: white;
	  font-family: "open sans", sans-serif;
	  line-height: 1.5em;
}

h1   {font-size: 2.5em;
	  text-transform: uppercase;

}

h2   {font-style: italic;
}

p    {font-family: georgia, serif;
	  font-size: 1.5em;
     
}

ul   {text-align: center;
}

